
# Prerequisites
*.d

# Build dir
/build
/Debug

# Linker output
rtthread.map
rtthread.hex
rtthread.elf

# Object files
*.o
/Objects

# Other
/RTE
/Listings
ra_cfg.txt
/makefile.targets
__pycache__
.config.old
.sconsign.dblite

version_numbers.h

